<template>

    <autocomplete
            url="/suggests/artists"
            anchor="display_name"
            label="artist"
            placeholder="Start to type Artists name or nationality"
            :classes="{ wrapper: 'form-group', input: 'form-control', listUl: 'list-group', listLi: 'list-group-item list-group-item-action'}"
            :on-select="showArtist"
            :onShouldRenderChild="renderChild">
    </autocomplete>

</template>


<script>

    export default {

        methods: {
            showArtist(obj) {
                Turbolinks.visit(`/artists/${obj.id}`)
            },
            renderChild(data) {
                return `<span>${data.display_name} - ${data.nationality}</span>`
            }
        }
    };

</script>