<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<artists-suggester></artists-suggester>

<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Nationality</th>
    <th scope="col">Years</th>
    <th scope="col">Gender</th>
  </tr>
  </thead>

  <tbody>
  <% @artists.each do |artist| %>
    <tr>
      <td><%= link_to artist.title, artist %></td>
      <td><%= artist.nationality %></td>
      <td><%= artist.begin_date %> - <%= artist.end_date %></td>
      <td><%= artist.gender %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_nav_bootstrap @pagy %>

