<p id="notice"><%= notice %></p>

<h1><%= @artist.title %></h1>
<h4>Nationality: <%= @artist.nationality %></h4>
<h4>Gender: <%= @artist.gender %></h4>
<h4>Years: <%= @artist.begin_date %> -  <%= @artist.end_date %></h4>

<h5>Bio:</h5>
<p><%= @artist.artist_bio %></p>
<p>Wiki: <%= @artist.wiki %></p>
<p>ULAN:<%= @artist.ulan %> </p>


<%= link_to 'All artists', artists_path %>
