<p id="notice"><%= notice %></p>

<h1>Artworks</h1>

<h5>Demo of suggester for singe model - Artwork</h5>
<artworks-suggester></artworks-suggester>

<h5>Demo of suggester for multi models - Artwork, Artists, Classifications, Departments</h5>
<p>Will suggest matches in all models. Fill filter Artworks by selectiong model - as example filter all artwork of Author </p>

<multi-suggester></multi-suggester>

<ul class="list-unstyled">
  <% @artworks.each do |artwork| %>
    <li class="media">
      <%= link_to thumbnail(artwork.thumbnail_url), artwork %>
      <div class="media-body">
        <h5 class="mt-0 mb-1"><%= link_to artwork.title, artwork %></h5>
        <h6>Accession Number: <%= artwork.accession_number %></h6>
        <h6>Artist: <%= link_to artwork.artist.title, artwork.artist %></h6>
        <h6>Department: <%= link_to artwork.department.title, artwork.department %></h6>
        <h6>Classification: <%= link_to artwork.classification.title, artwork.classification %></h6>
      </div>
    </li>
  <% end %>

</ul>


<%== pagy_nav_compact_bootstrap @pagy %>


