<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Demo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item <%= ' active' if current_page?('/artworks') %>">
        <a class="nav-link" href="/artworks">Artworks <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item <%= ' active' if current_page?('/artists') %>">
        <a class="nav-link" href="/artists">Artists</a>
      </li>
      <li class="nav-item <%= ' active' if current_page?('/departments') %>">
        <a class="nav-link" href="/departments">Departments</a>
      </li>
      <li class="nav-item <%= ' active' if current_page?('/classifications') %>">
        <a class="nav-link disabled" href="/classifications">Classification</a>
      </li>
    </ul>
  </div>
</nav>