<template>

    <autocomplete
            url="/suggests/all_models"
            anchor="title"
            label="artwork"
            placeholder="Search Artworks by: Artists, Departments, IDs, etc."
            :withLabels="true"
            :process="groupByType"
            :classes="{ wrapper: 'form-group', input: 'form-control', listUl: 'list-group', listLi: 'list-group-item list-group-item-action'}"
            :on-select="filterArtworks">
    </autocomplete>

</template>


<script>
    import QuerySerializerMixin from '../../mixins/query_serializer_mixin.js';

    export default {
        mixins: [QuerySerializerMixin],

        methods: {
            filterArtworks(obj) {
                let filter = {}
                filter[obj.searchable_type] = obj.searchable_id

                Turbolinks.visit(`/artworks?${this.serialize(filter, 'filter')}`)
            },
            groupByType(data) {

                let result = data.reduce(function (r, a) {
                    r[a.searchable_type] = r[a.searchable_type] || [];
                    r[a.searchable_type].push(a);
                    return r;
                }, Object.create(null));

                let result_array = [];

                for (var attr in result) {
                    let key_array = result[attr];
                    if (Array.isArray(key_array)) {
                        result_array.push(Object.create(null, {title: {value: attr}, label: {value: true}}));
                        key_array.forEach(function (e) {
                            result_array.push(e);
                        })
                    }
                };

                console.debug(result_array);
                return result_array;
            },
            renderChild(data) {
                return `<span><strong>${data.searchable_type}:</strong> ${data.title}</span>`
            }
        }
    };

</script>