<template>

    <autocomplete
            url="/suggests/artworks"
            anchor="title"
            label="artwork"
            placeholder="Start to type Artwork title or Accession number"
            :classes="{ wrapper: 'form-group', input: 'form-control', listUl: 'list-group', listLi: 'list-group-item list-group-item-action'}"
            :on-select="showArtwork"
            :onShouldRenderChild="renderChild">
    </autocomplete>

</template>


<script>

    export default {

        methods: {
            showArtwork(obj){
                Turbolinks.visit(`/artworks/${obj.id}`)
            },
            renderChild(data) {
                return `<span>${data.accession_number} ${data.title}</span>`
            }
        }
    };

</script>